body {
  margin: 0;
  background-image: url(pattern.jpg);
}

nav {
  background: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
  padding: 8px;
  padding-right: 20px;
}

nav ul li a {
  text-decoration-line: none;
}

#article-list {
  width: 75%;
  margin: auto;
  background: white;
  padding: 12px;
  margin-top: 12px;
}

#article-list h1 {
  text-align: center;
}

#article-list article {
  border-bottom: 2px solid black;
  padding: 4px;
}

#article-list article a {
  text-decoration-line: none;
}

footer {
  width: 100%;
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 12px;
  background: #000;
  color: white;
  text-align: center;
}
